button{
    margin-right:5px;
}

.packerInput {
    width:100px;
    margin-right: 35px;
    margin-left: 5px;
    text-align: center;
}
.skuInput {
    width:80px;
    margin-left: 70px;
    text-align: center;
}

.labelPacker {
    margin-right: 35px;
    margin-left: 5px;
}