<div class="container" style="width:100%;margin-top:1em">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <h3 class="text-center">Notes - Historique</h3>
    </div>
    <div class="col">
      <button type="button" [routerLink]="['../form/new']" class="btn btn-secondary pull-right"><i class="fa fa-plus"></i></button>
      <button *ngIf="isAdmin" style="margin-right:10px" type="button" (click)="update()" class="btn btn-secondary pull-right"><i class="fa fa-certificate"></i></button>
    </div>
  </div>
  <div>
      <date-filter (filtersSelected)="filterPeriod($event)" [filters]="filters.date"></date-filter>
  </div>
  <div class="container" style="width:85%;margin-top:1em;margin-left:0%">
    <table class="table table-sm text-left table-bordered"  [ngClass]="{'table-hover':isAdmin}">
      <thead class="thead-inverse">
        <tr class="text-center " >
          <th style="width:5%;vertical-align:middle"><button class="btn btn-secondary btn-sm" (click)="eraseFilter()"><i class="fa fa-eraser"></i></button></th>
          <th style="width:10%"><input type="text" [(ngModel)]="filters.note.datetime" class="form-control" (change)="filter()"></th>
          <th style="width:10%"><input type="text" [(ngModel)]="filters.note.username" class="form-control" (change)="filter()"></th>
            <th ><input type="text" [(ngModel)]="filters.note.description" class="form-control" (change)="filter()"></th>
          <th style="width:10%"><input type="text" [(ngModel)]="filters.note.auditedByUsername" class="form-control" (change)="filter()"></th>
        </tr>
        <tr >
          <th></th>
          <th>Date</th>
          <th class="">Opérateur</th>
          <th>Description</th>
          <th>Audité Par</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center" [ngClass]="{'editable':isAdmin,'canceled':note.state ==2}" *ngFor="let note of notesFiltered" [routerLink]="['../form/edit/'+note.noteId]">
          <td></td>
          <td>{{moment(note.datetime).format("YYYY-MM-DD HH:mm")}}</td>
          <td>{{note.username}}</td>
          <td>{{note.description}}</td>
          <td>{{note.auditedByUsername}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>