li {
    font-size:16px;
    border-left-width:15px;
    border-style:solid;
    border-color:white;
    padding-right:30px;
}

ul{
    list-style:none;
    padding:0px;
    margin-bottom:0;
    background-color:white;
    position:absolute;
    z-index:1000;
    width:100%;
}

li:hover{
    background-color:lightgrey;
    border-color:lightgrey;
}

